@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

body:not([data-phase]) { display: none; }
[data-when] { display: none; }

* { margin: 0; box-sizing: border-box; font-size: inherit; }
html { font: 20px Roboto, sans-serif; color: #333; }
body { max-width: 30rem; margin: 0 auto; }
body { line-height: 1rem; font-size: .7rem; }
header { padding: 0 1rem; }
section { padding: 1rem 1rem; }

hgroup img { width: 4rem; float: right; }
h1 { line-height: 2rem; font-size: 1.3rem; }
h1 { color: #546979; letter-spacing: -.05em; }
h2 { color: #808080; font-weight: normal; }

#show-explanation { display: none; }
.quiet #explanation { display: none; }
.quiet #show-explanation { display: block; }

h3 { font-size: .8rem; margin-bottom: .5rem; }
h4 { font-size: .8rem; margin-bottom: .5rem; }
* + p { margin-top: 1rem; }
small { font-size: .7rem; font-weight: normal; color: gray; }

label { display: block; margin-bottom: .5rem; }
input, textarea { width: 100%; padding: .5rem; }
input, textarea { border: 1px solid #ccc; }
a:not([href]) { color: blue; text-decoration: underline; cursor: pointer; }

table { border-collapse: collapse; }
tbody { border-top: 1rem solid transparent; }
th { text-align: left; padding-right: 1rem; vertical-align: top; }
td table, td form { margin: 1rem; }
td tbody:first-child { border-top: none; }

@media (min-width: 640px) {
  html { font-size: 28px; }
  body { margin: 2rem auto; }
}
