@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

* { margin: 0; box-sizing: border-box; }

html { font: 20px Roboto, sans-serif; color: #333; }
body > * { padding: 1rem; }
h1 { line-height: 2rem; font-size: 1.5rem; }
h2 { line-height: 1rem; font-size: 0.7rem; }

h1 { color: #546979; letter-spacing: -0.04em; }
h2 { color: #808080; font-weight: normal; }
hgroup { background: #f8f8f8; }
hgroup { border-bottom: 1px solid #ccc; }
